<div class='template'>
  <%= render partial: 'shared/user-container', locals: { user: @user } %>
  <div><%= @user.bio %></div>
  <button type='button'>
    <%= link_to "Create new post", new_user_post_url(@current_user) %>
  </button>
  <% @user.recent_posts.each do |post| %>
    <%= render partial: 'shared/post', locals: { user: @user, post: post } %>
  <% end %>
  <div class='button-wrapper'>
    <button type="button" class='see-posts-btn'>
      <%= link_to "See all posts", user_posts_url(@user) %>
    </button>
  </div>
</div>
