 <div class='user-container'>
  <div class='boxed img_container'>
    <% if user.present? && user.photo.present? %>
      <img src="<%= user.photo %>" alt="profile" class="img_container">
    <% else %>
    <img src="<%= user.photo %>" alt="profile" class="img_container">
    <% end %>
  </div>
  <div class="boxed user_card">
    <% if user.present? %>
      <a href="/users/<%= user.id %>">
        <h2 class="user_label"><%= user.name %></h2>
      </a>
      <p class='posts_counter'>Number of posts: <%= user.posts_counter %></p>
    <% else %>
      <!-- Handle the case when user is nil or not found -->
      <p class='error_message'>User Not Found</p>
    <% end %>
  </div>
</div>